div{
    width: 100%;
    background-color: blue;
    color: yellowgreen;
    font-style: italic;
}
body{
    background-image: cover;
    font-style: inherit;
}
canvas{
   margin-top: 150px;
   box-shadow: 10px 10px 38px blue;
}